<div class="row">
  <div class="col-12 col-md-8 col-lg-6 mx-auto">
    <div *ngIf="movie" class="card mb-4">
      <img [src]="movie.image" [alt]="movie.title" class="card-img-top" />
      <div class="card-body">
        <h1 class="card-title h3 mb-3">{{ movie.title }} Titulo</h1>
        <p class="card-text">{{ movie.description }}</p>
        <div class="row">
          <div class="col-6">
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Género:</strong> {{ movie.genre }}</p>
            <p><strong>Año de Lanzamiento:</strong> {{ movie.releaseYear }}</p>
          </div>
          <div class="col-6">
            <p><strong>Duración:</strong> {{ movie.duration }} minutos</p>
            <p><strong>Calificación:</strong> {{ movie.rating }}/10</p>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <a
          routerLink="/movies"
          class="btn btn-primary"
        >
          Volver a la Lista de Películas
        </a>
      </div>
    </div>
  </div>
</div>
